#ADD FRAGMENT FOR DM-CRYPT
#CONFIG_MD=y
#CONFIG_BLK_DEV_DM_BUILTIN=y
#CONFIG_BLK_DEV_DM=y
#CONFIG_DM_CRYPT=y
#CONFIG_PNFS_BLOCK=y
#CONFIG_CRYPTO_AEAD=y
#CONFIG_CRYPTO_SKCIPHER=y
#CONFIG_CRYPTO_USER=y
#CONFIG_CRYPTO_NULL=y
#CONFIG_CRYPTO_AUTHENC=y
#CONFIG_CRYPTO_CBC=y
#CONFIG_CRYPTO_ECB=y
#CONFIG_CRYPTO_XTS=y
#CONFIG_CRYPTO_ESSIV=y
#CONFIG_CRYPTO_SHA256=y
#CONFIG_CRYPTO_AES=y
#CONFIG_CRYPTO_LIB_AES=y
#CONFIG_CRYPTO_LIB_SHA256=y

#JUST FOR OTG
#CONFIG_USB_MASS_STORAGE=y
#CONFIG_USB_LIBCOMPOSITE=y
#CONFIG_USB_F_MASS_STORAGE=y
#CONFIG_USB_MASS_STORAGE=y


#FOR DRM DISPLAY
CONFIG_CEC_STM32=y
CONFIG_DRM_SCHED=y
CONFIG_DRM_ETNAVIV=y
CONFIG_LOGO=y
CONFIG_LOGO_LINUX_MONO=y
CONFIG_LOGO_LINUX_VGA16=y
CONFIG_LOGO_LINUX_CLUT224=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_FRAMEBUFFER_CONSOLE=y


